<div class="min-vh-100 d-flex justify-content-center align-items-center bg-light">
    <div class="card shadow-lg p-5 rounded-4" style="width: 600px; font-family: 'Montserrat', sans-serif;">
        <div class="text-center mb-4">
            <h1 class="text-danger fw-bold">Registration Notice</h1>
        </div>
        <p class="text-center text-dark mb-4">
            The SME(s) cannot register by themselves. They can drop an email to
            <a href="mailto:test@gmail.com">test&#64;gmail.com</a> to get themselves registered. <br />
            Each SME needs to fill this form individually.
        </p>


        <h4 class="text-primary">Please include the following details in your email:</h4>
        <ul class="list-group list-group-flush mt-3">
            <ul class="list-group">
                <li class="list-group-item active fw-bold text-uppercase">Course Details</li>
                <li class="list-group-item">Course Name</li>
                <li class="list-group-item">Number of Weeks</li>
            </ul>
            <ul class="list-group mt-2">
                <li class="list-group-item active fw-bold text-uppercase">SME Details</li>
                <li class="list-group-item">Your Name</li>
                <li class="list-group-item">Phone Number</li>
                <li class="list-group-item">Official Email Address (preferred)</li>
                <li class="list-group-item">Phone number (mandatory)</li>
                <li class="list-group-item">Alt number (mandatory)</li>
                <li class="list-group-item">Bank Account Number</li>
                <li class="list-group-item">Branch IFSC Code</li>
                <li class="list-group-item">Bank Name</li>
            </ul>
        </ul>
        <div class="text-center mt-4">
            <button class="btn btn-primary" routerLink="/login">Go Back</button>
        </div>
    </div>
</div>