<!--begin::Sidebar-->
<div class="sidebar-brand">
  <a routerLink="/dashboard" class="brand-link">
    <img src="assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image opacity-75 shadow" />
    <span class="brand-text fw-light">AdminLTE 4</span>
  </a>
</div>
<!--end::Sidebar Brand-->

<!--begin::Sidebar Wrapper-->
<div class="sidebar-wrapper">
  <nav class="mt-2">
    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="true">
      
      <!-- DASHBOARD -->
      <li class="nav-item" [ngClass]="{ 'menu-open': isActive('/dashboard') }">
        <a class="nav-link"routerLink="/dashboard">
          <i class="nav-icon bi bi-speedometer"></i>
          <p>Dashboard</p>
        </a>
      </li>

      <!-- COURSES -->
      <li class="nav-item" [ngClass]="{ 'menu-open': isActive('/courses') }">
        <a class="nav-link" routerLink="/courses">
          <i class="nav-icon bi bi-book"></i>
          <p>Courses</p>
        </a>
      </li>

      <!-- USERS -->
      <li class="nav-item" [ngClass]="{ 'menu-open': isActive('/users') }">
        <a class="nav-link" routerLink="/users">
          <i class="nav-icon bi bi-people"></i>
          <p>Users</p>
        </a>
      </li>

    </ul>
  </nav>
</div>
<!--end::Sidebar Wrapper-->
